@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.head {
  font-family: "Roboto";
  font-weight: bolder;
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu {
  width: 32px;
}

.input .container {
  display: flex;
  max-width: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.input input {
  border: 2px solid black;
  background-color: #f8f8f8;
  padding: 10px;
  width: 40%;
  border-radius: 8px;
}

.layout-btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.layout-btn img {
  cursor: pointer;
}

.products {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  margin-top: 40px;
  border-radius: 15px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.prod_img {
  max-width: 100%;
  height: auto;
}

.product-details {
  margin-top: 10px;
}

.size {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  font-family: "Roboto";
}

.icons {
  display: flex;
  align-items: center;
}


.label {
  position: absolute;
  background-color: #ccff78;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 168px;
  -webkit-border-radius: 60px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 60px;
  -moz-border-radius-topleft: 0;
  border-radius: 60px;
  border-top-left-radius: 0;
}